.bingoBoard {
  border: 1px solid black;
  width: 100vw;
}

.bingoButton {
  width: 200px;
  height: 200px;
  margin: 0;
  flex: 1;
}

.bingoSquare {
  border: 1px solid black;
  height: 100px;
  width: 75px;
  opacity: 1;
  background-color: teal;
}

.clickedSquare {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.boxData {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  margin-bottom: 20px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
